<div class="d-flex justify-content-center align-items-center vh-100 bg-dark text-light overflow-hidden" style="position: fixed; width: 100%; height: 100%;">
  <div class="card p-4 shadow-lg rounded-4 w-100" style="max-width: 400px; background-color: rgba(255, 255, 255, 0.1); position: relative; top: -50px;">
    <h2 class="text-center fw-bold mb-4">
      @if (isRegistering) {
        📝 Registro
      } @else {
        🔑 Iniciar Sesión
      }
    </h2>

    <form (ngSubmit)="authenticate()" class="needs-validation">
      <div class="mb-3">
        <label class="form-label fw-semibold">usuario:</label>
        <input type="usuario" class="form-control rounded-pill" [(ngModel)]="usuario" required name="usuario">
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Contraseña:</label>
        <input type="password" class="form-control rounded-pill" [(ngModel)]="password" required name="password">
      </div>

      <button type="submit" class="btn btn-primary w-100 rounded-pill py-2 fw-bold">
        @if (isRegistering) {
          📝 Registrar
        } @else {
          🔑 Iniciar Sesión
        }
      </button>
    </form>

    <button (click)="isRegistering = !isRegistering" class="btn w-100 mt-3 rounded-pill py-2 fw-semibold" style="background-color: white; color: black; transition: 0.3s;"
      onmouseover="this.style.backgroundColor='gray'; this.style.color='white';"
      onmouseout="this.style.backgroundColor='white'; this.style.color='black';">
      @if (isRegistering) {
        ¿Ya tienes cuenta? Iniciar Sesión
      } @else {
        ¿No tienes cuenta? Regístrate
      }
    </button>

    @if (errorMessage) {
      <p class="text-warning text-center mt-3">{{ errorMessage }}</p>
    }
  </div>
</div>
