<div class="search-box d-flex align-items-center mx-3 position-relative">
  <!-- Campo de búsqueda -->
  <input type="text" class="form-control search-input" placeholder="Buscar..." [(ngModel)]="query" (input)="buscarAnime()">

  <!-- Botón de búsqueda -->
  <button class="btn search-btn">
    <i class="bi bi-search"></i>
  </button>

  <!-- Dropdown de resultados debajo del input -->
  @if (resultados.length > 0) {
    <ul class="resultados-dropdown position-absolute">
      @for (anime of resultados; track anime.id) {
        <li (click)="irADetalle(anime)">
          {{ anime.title }} ({{ anime.type }})
        </li>
      }
    </ul>
  }
</div>
